* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: rgb(255, 161, 127);
  background: linear-gradient(
    90deg,
    rgba(255, 161, 127, 1) 0%,
    rgba(0, 34, 62, 1) 90%
  );
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  ::selection {
    background-color: #ffa17f;
    color: #fff;
}
}

.container {
  border: 2px solid #fff;
  padding: 30px 40px;
  width: 35%;
  min-width: 500px;
}

.new-task-container {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: flex;
}

.new-task-container input {
  flex: 3;
  font-size: 1rem;
  border: 2px solid #d1d3d4;
  border-radius: 5px;
  padding: 12px;
  font-weight: 500;
  color: #767676;
}

.new-task-container input:focus {
  outline: none;
  border-color: #ffa17f;
}

.new-task-button {
  flex: 1;
  border-radius: 5px;
  font-weight: 500;
  height: 100%;
  font-size: 1rem;
  border: none;
  background-color: #ffa17f;
  color: #fff;
  padding: 12px;
  margin-left: 12px;
}

.new-task-button:hover {
  background-color: #00223e;
  outline: 2px solid #ffa17f;
  cursor: pointer;
}

.tasks-container {
  background-color: #fff;
  padding: 30px 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  margin-top: 6px;
  color: #767676;
  font-weight: 500;
}

.task-item:hover {
    cursor: pointer;
    color: #ffa17f;
}

.delete-task-icon {
  background-color: #ffa17f;
  color: #fff;
  padding: 12px;
  border-radius: 5px;
}

.delete-task-icon:hover {
  background-color: #00223e;
  outline: 2px solid #ffa17f;
  cursor: pointer;
}

/* Utilities */
.error {
  border: 2px solid #f86969 !important;
}

.error::placeholder {
  color: #f86969 ;
}

.completed {
  text-decoration: line-through;
}
